{% extends 'course/course_control_panel_frame.html' %}

{% load crispy_forms_tags %}

{% block title %}Редактировать тесты{% endblock %}

{% block course_content %}
    <div style="margin-bottom: 20px">
        <form action="" method="post" enctype="multipart/form-data">
            {{ formset.management_form }}
            <table>
                {% for form in formset %}
                    {% csrf_token %}
                    {{ form|crispy }}
{#                    {% if form.instance.rigth_answer %}#}
{#                        <p>Правильный ответ на тест:</p>#}
{#                        <p>{{ form.instance.right_answer|linebreaks|safe }}</p>#}
{#                    {% endif %}#}
                    <p>Правильный ответ:</p>
                    <input type="text" class="form-control classname" value="{{ form.instance.right_answer|safe }}" readonly aria-label="Disabled input example">
                    <hr>
                {% endfor %}
            </table>
            <input type="submit" value="Сохранить настройки" class="btn btn-success" data-toggle="modal"
                   data-target="#exampleModal">
        </form>
    </div>
{% endblock %}