{% extends 'course/course_control_panel_frame.html' %}

{% block title %}Редактировать тесты{% endblock %}

{% block course_content %}
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            {{ formset.management_form }}
            <table>
                {% for form in formset %}
                    {% csrf_token %}
                    {{ form }}
                    {% if form.instance.rigth_answer %}
                        <p>Правильный ответ на тест:</p>
                        <p>{{ form.instance.right_answer|linebreaks }}</p>
                    {% endif %}
                {% endfor %}
            </table>
            <input type="submit" value="Сохранить настройки" class="btn btn-primary" data-toggle="modal"
                   data-target="#exampleModal">
        </form>
    </div>
{% endblock %}