{% extends 'course/course_control_panel_frame.html' %}

{% load crispy_forms_tags %}

{% block title %}Новая задача{% endblock %}

{% block course_content %}
    <div style="margin-bottom: 20px">
        <h3>Заполните данные о задаче</h3>
        <form action="{% url 'course_task_create_success' slug=course.slug %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ course_task_form|crispy }}
            <input type="submit" value="Создать" class="btn btn-success">
        </form>
    </div>
{% endblock %}
