{% extends 'contest/contest_participant_frame.html' %}

{% block title %}Посылка {{ solution.id }}{% endblock %}

{% block contest_content %}
    <div>
        <h3>Посылка №{{ solution.id }}</h3>
        <table class="table table-sm">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Автор</td>
                <td><a href="{% url 'profile' username=solution.participant.user.username %}">{{ solution.participant.user|truncatechars:30 }}</a></td>
            </tr>
            <tr>
                <td>Задача</td>
                <td><a href="{% url 'contest_participant_task_detail' id=contest.id task_id=solution.task.id %}">{{ solution.task.title|truncatechars:30 }}</a></td>
            </tr>
            <tr>
                <td>Время отправки</td>
                <td>{{ solution.created }}</td>
            </tr>
            <tr>
                <td>Статус проверки</td>
                <td>{{ solution.get_status }}</td>
            </tr>
            <tr>
                <td>Вердикт</td>
                <td>{{ solution.verdict_text }}</td>
            </tr>
            <tr>
                <td>Язык</td>
                <td>{{ solution.code_file.language }}</td>
            </tr>
        </table>
        {% include 'module/content/codelisting.html' with item=solution.code_file %}
    </div>
{% endblock %}
