{% extends 'index.html' %}

{# "contest" and "participant" context variables required #}

{% block title %}{% endblock %}

{% block content %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="bi bi-file-bar-graph"></i> {{ contest.title| truncatechars:30 }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'contest_participant_task_list' id=contest.id %}"><i class="bi bi-list-task"></i> Задачи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'contest_participant_send_solution' id=contest.id %}"><i class="bi bi-file-earmark-code"></i> Отправить решение</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'contest_participant_send_code' id=contest.id %}"><i class="bi bi-pencil-square"></i> Написать решение</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'contest_participant_solution_list' id=contest.id %}"><i class="bi bi-card-checklist"></i> Посылки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'contest_participant_scoreboard' id=contest.id %}"> <i class="bi bi-people-fill"></i> Рейтинг</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'contest_description' id=contest.id %}"><i
                                    class="bi bi-question-diamond"></i> Положения</a>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link active" id="timer"></a></b>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <br>
    {% if contest.status != "WAIT" %}
        {% block contest_content %}
        {% endblock %}
    {% else %}
        <h3>Соревнование пока не началось</h3>
        {% if participant %}
        {% else %}
            <p>Чтобы принять участие, <a href="{% url 'contest_registration' id=contest.id %}">зарегистрируйтесь</a></p>
        {% endif %}
    {% endif %}
    <script type="text/javascript">
        let interval = 1000;

        function updateContestCondition() {
            $.ajax({
                type: 'get',
                url: '{% url "update_contest_condition" id=contest.id %}',
                data: {csrfmiddlewaretoken: getCookie('csrftoken')},
                dataType: 'json',
                success: function (data) {
                    $('#timer').text(data['timer']);
                    if (data['alert_action'] === 1) {
                        alert('Соревнование началось');
                        document.location.reload();
                    }
                    if (data['alert_action'] === 2) {
                        alert('Соревнование закончилось');
                        document.location.reload();
                    }
                },
                complete: function (data) {
                    setTimeout(updateContestCondition, interval);
                }
            });
        }

        setTimeout(updateContestCondition, interval);

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}
