{% extends 'course/course_control_panel_frame.html' %}

{% load crispy_forms_tags %}

{% block title %}Контесты{% endblock %}

{% block course_content %}
    <div style="margin-bottom: 20px">
        <h3>Выберите задачи для соревнования</h3>
        <form action="{% url 'contest_task_list_update_success' slug=course.slug id=contest.id %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Сохранить" class="btn btn-success">
        </form>
    </div>
{% endblock %}
