{% extends 'channel/channel_control_panel_frame.html' %}

{% block title %}Подписчики{% endblock %}

{% block channel_content %}
    <div>
    <h3>Все подписчики</h3>
        {% for subscriber in object_list %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4" style="margin: 10px; width: 100px;
                            height: 100px;
                            background-image: url('{{ subscriber.user_profile.profile_photo.url }}');
                            background-size: cover;
                            display: block;
                            border-radius: 50%;">
                        {#                        <img src="{{ friend.profile_photo.url }}" alt="..." class="card-body">#}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'channel_manage_subscriber' slug=channel.slug username=subscriber.username %}"
                                                      style="color: black">{{ subscriber.username }}</a></h5>
                            <a href="{% url 'channel_manage_subscriber' slug=channel.slug username=subscriber.username %}" class="btn btn-outline-primary">Управление</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>На вашем канале нет подписчиков</p>
        {% endfor %}
    </div>
{% endblock %}
