{% extends 'channel/channel_control_panel_frame.html' %}

{% block title %}Управление подписчиком{% endblock %}

{% block channel_content %}
    <div>
        <p>Подписчик <a href="{% url 'profile' username=object.username %}">{{ object.username }}</a></p>
        <form action="{% url 'channel_delete_subscribe' slug=channel.slug username=object.username %}" method="post">
            {% csrf_token %}
            {{ delete_subscriber_form.as_p }}
            <input type="submit" value="Удалить подписчика">
        </form>
    </div>
{% endblock %}
