{% extends 'channel/channel_control_panel_frame.html' %}

{% block title %}Управление подписчиком{% endblock %}

{% block channel_content %}
    <style type="text/css">
        .circle-image-250 {
            width: 150px;
            height: 150px;
            background-image: url('{{ object.user_profile.profile_photo.url }}');
            background-size: cover;
            display: block;
            border-radius: 50%;
        {#position: absolute;#}
        }
    </style>
    <div class="col-md-4 mb-3" style="padding-top: 20px">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    {#                            <img src="{{ user_obj.user_profile.profile_photo.url }}" alt="{{ user_obj.username }}"#}
                    {#                                 class="rounded-circle" width="150">#}
                    <div class="circle-image-250"></div>
                    <div class="mt-3">
                        <h4>{{ object.username }}</h4>
                        <form action="{% url 'channel_delete_subscribe' slug=channel.slug username=object.username %}"
                              method="post">
                            {% csrf_token %}
                            {{ delete_subscriber_form.as_p }}
                            <input type="submit" value="Удалить подписчика" class="btn btn-outline-danger">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
