{% extends 'channel/channel_control_panel_frame.html' %}

{% load crispy_forms_tags %}

{% block title %}Новый курс{% endblock %}

{% block channel_content %}
    <div style="margin-bottom: 20px">
        <h3>Заполните информацию о новом курсе</h3>
        <form action="{% url 'create_course_confirm' slug=channel.slug %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ course_create_form|crispy }}
            <input type="submit" value="Создать новый курс" class="btn-success btn">
        </form>
    </div>
{% endblock %}
