{% extends 'course/course_control_panel_frame.html' %}

{% block title %}Управление содержимым{% endblock %}

{% block course_content %}
    <div>
        <h3>
            {% if object %}
                Изменить контент
            {% else %}
                Добавить новый контент
            {% endif %}
        </h3>
    <p>{{ course }}</p>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Сохранить">
        </form>
    </div>
{% endblock %}
