{% extends 'profile_frame.html' %}

{% load crispy_forms_tags %}

{% block title %}Изменить профиль{% endblock %}

{% block profile_content %}
    <div>
        <div>
            <form action="" method="post" enctype="multipart/form-data">
                {{ user_form|crispy }}
                {{ user_profile_form|crispy }}
                {% csrf_token %}
                <p><input type="submit" value="Сохранить данные" class="btn-success btn"></p>
            </form>
        </div>
    </div>
{% endblock %}
