{% extends 'profile_frame.html' %}
{% load static %}

{% block title %}{{ user_obj.username }}{% endblock %}

{% block profile_content %}
    <p>профиль пользователя {{ user_obj.username }}</p>
    <img src="{{ user_obj.user_profile.profile_photo.url }}" alt="avatar" style="width: 200px;">
    <p>
        {% if user.is_authenticated %}
            {% if user != user_obj %}
                {% if friendship_status == 'friend' %}
                    вы друзья
                    <form action="{% url 'remove_friend' username=user_obj.username %}" method="post">
                        {% csrf_token %}
                        {{ remove_friend_form.as_p }}
                        <input type="submit" value="Удалить из друзей">
                    </form>
                {% elif friendship_status == 'wait from' %}
                    <form action="{% url 'accept_request' username=user_obj.username %}" method="post">
                        {% csrf_token %}
                        {{ accept_request_form.as_p }}
                        <input type="submit" value="Принять заявку">
                    </form>
                    <form action="{% url 'decline_request' username=user_obj.username %}" method="post">
                        {% csrf_token %}
                        {{ decline_request_form.as_p }}
                        <input type="submit" value="Отклонить заявку">
                    </form>
                {% elif friendship_status == 'wait to' %}
                    заявка отправлена
                    <form action="{% url 'decline_request' username=user_obj.username %}" method="post">
                        {% csrf_token %}
                        {{ decline_request_form.as_p }}
                        <input type="submit" value="Отменить заявку">
                    </form>
                {% elif friendship_status == 'not friend' %}
                    <form action="{% url 'add_friend' username=user_obj.username %}" method="post">
                        {% csrf_token %}
                        {{ friendship_request_form.as_p }}
                        <p><input type="submit" value="Отправить заявку в друзья"/></p>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </p>
{% endblock %}
