{% extends 'index.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <h3>Авторизация</h3>
    {% if form.errors %}
        <p>Некорректные данные для входа. попробуйте снова</p>
    {% endif %}
    <div>
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    </div>
{% endblock %}
