{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <div style="padding: 15% 25%;">
        <h3>Восстановите пароль</h3>
        <div class="form-control w-100">
            {% if validlink %}
                <p>Введите новый пароль:</p>
                <form action="" method="post">
            {{ form|crispy }}
            {% csrf_token %}
                    <p> <input type="submit" value="Сменить пароль" class="btn-success btn"/></p>
        </form>
    {% else %}
        <p>Ссылка невалидна. Возможно это произошло из-за того, что она уже была использована.</p>
    {% endif %}
        </div>
    </div>

{% endblock %}
