{% extends 'profile_frame.html' %}

{% load crispy_forms_tags %}

{% block title %}Смена пароля{% endblock %}

{% block profile_content %}
    <div style="padding: 15% 25%;">
        <h3>Смена пароля</h3>
        <div class="form-control w-100">
            <form action="" method="post" class="form-group">
                {{ form|crispy }}
                {% csrf_token %}
                <p><input type="submit" value="Сменить пароль" class="btn btn-success"/></p>
            </form>
        </div>
    </div>
{% endblock %}
