{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <div style="padding: 15% 25%;">
        <h3>Забыли пароль?</h3>
        <div class="form-control w-100">
            <form action="" method="post">
                {{ form|crispy}}
                {% csrf_token %}
                <p><input type="submit" value="Отправить e-mail" class="btn-success btn"/></p>
            </form>
        </div>
    </div>
{% endblock %}
