{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div style="padding: 15% 25%;">
        <h3>Регистрация на сайте</h3>
        <div class="form-control w-100">
            <form action="{% url 'registration_submit' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <p><input type="checkbox"> Нажимая "Зарегистрироваться", вы даете согласие на обработку своих персональных данных</p>
                <p><a href="{% url 'politica' %}">Политика конфиденциальности</a></p>
                <p><input type="submit" value="Зарегистрироваться" class="btn-success btn" required="required" /></p>
                <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
            </form>
        </div>
    </div>
{% endblock %}
