<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h2><a href="{% url 'main' %}">Coursework 2</a> <a href="{% url 'task_list' %}">Перейти в AtomicJudge</a></h2>
<p>
    {% if user.is_authenticated %}
        <a href="{% url 'profile' username=user.username %}">{{ user }}</a> <a href="{% url 'logout' %}?next={{ request.get_full_path }}">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}">Войти в аккаунт</a>
    {% endif %}
</p>
{% block content %}
{% endblock %}
</body>
</html>
