<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            },
            tex2jax: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                processEscapes: true
            }
        };
        MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [['$', '$'], ["\\(", "\\)"]],
                displayMath: [['$$', '$$'], ["\\[", "\\]"]],
                processEscapes: true
            },
            "HTML-CSS": {fonts: ["TeX"]}
        });
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {{ form.media }}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h2><a href="{% url 'main' %}">Coursework 2</a> <a href="{% url 'task_list' %}">Перейти в AtomicJudge</a></h2>
<p>
    {% if user.is_authenticated %}
        <a href="{% url 'profile' username=user.username %}">{{ user }}</a>
        <a href="{% url 'logout' %}?next={{ request.get_full_path }}">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}">Войти в аккаунт</a> <a href="{% url 'registration' %}">Зарегистрироваться</a>
    {% endif %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>tag: {{ message.tags }} message: {{ message|safe }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>уведомлений нет</p>
    {% endif %}
</p>
<hr>
<h5>навигация</h5>
<p><a href="{% url 'user_list' %}">Пользователи</a></p>
<hr>
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</body>
</html>
