{% extends 'course/course_control_panel_frame.html' %}

{% load crispy_forms_tags %}

{% block title %}Создать модуль{% endblock %}

{% block course_content %}
    <div style="padding-bottom: 20px">
        <h3>Создать новый модуль</h3>
        <form action="{% url 'create_module_success' slug=course.slug %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Создать модуль" class="btn btn-success">
        </form>
    </div>
{% endblock %}
