{% extends 'index.html' %}

{% block title %}{% endblock %}

{#"course" context variable required#}

{% block content %}
    <div>
        <p><a href="{% url 'course' slug=course.slug %}">Вернуться на главную страницу курса</a></p>
        <p>
            <a href="{% url 'update_course' slug=course.slug %}">Изменить информацию о курсе</a>
            <a href="{% url 'update_course_description' slug=course.slug %}">Управление блоками контента на главной
                странице</a>
            <a href="">Управление студентами</a>
            <a href="">Управление модулями</a>
            <a href="">Управление задачами</a>
            <a href="">Управление соревнованиями</a>
            <a href="">Управление экзаменами</a>
        </p>
    </div>
    {% block course_content %}
    {% endblock %}
{% endblock %}
