{% extends 'index.html' %}

{% block title %}{% endblock %}

{#"course" context variable required#}

{% block content %}
    <div>
        <p><a href="{% url 'course' slug=course.slug %}">Вернуться на главную страницу курса</a></p>
        <p>
            <a href="{% url 'update_course' slug=course.slug %}">Настройки</a>
            <a href="{% url 'update_course_description' slug=course.slug %}">Описание</a>
            <a href="{% url 'course_students_list' slug=course.slug %}">Студенты</a>
            <a href="{% url 'module_list' slug=course.slug %}">Модули</a>
            <a href="{% url 'course_task_list' slug=course.slug %}">Задачи</a>
            <a href="">Соревнования</a>
            <a href="">Экзамены</a>
        </p>
    </div>
    {% block course_content %}
    {% endblock %}
{% endblock %}
