{% extends 'course/course_control_panel_frame.html' %}

{% block title %}Модули{% endblock %}

{% block course_content %}
    <div>
        {% for module in object_list %}
            <p>Модуль {{ forloop.counter }} <a href="{% url 'module' slug=course.slug order=module.order %}">Перейти к
                модулю</a> <a href="{% url 'update_module' slug=course.slug order=module.order %}">Настройки</a> <a
                    href="{% url 'course_module_content_list' slug=course.slug order=module.order %}">Содержимое</a>
            </p>
        {% empty %}
            <p>На курсе нет модулей</p>
        {% endfor %}
        <p><a href="{% url 'create_module' slug=course.slug %}">Создать новый модуль</a></p>
    </div>
{% endblock %}
