{% extends 'index.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h3>Главная страница</h3>
    <p>
        When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
        \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]
        $x = $0
        \[ x^n + y^n = z^n \]
        In physics, the mass-energy equivalence is stated
        by the equation $E=mc^2$, discovered in 1905 by Albert Einstein.
        The mass-energy equivalence is described by the famous equation

        \[E=mc^2\]

        discovered in 1905 by Albert Einstein.
        In natural units ($c$ = 1), the formula expresses the identity

        \begin{equation}
        E=m
        \end{equation}
        \[cos (2\theta) = \cos^2 \theta - \sin^2 \theta \]
        $\oint$
        There are $\\$ $k_{n+1} = n^2 + k_n^2 - k_{n-1} $ simple equasion
        n^{22}
        $n^{22}$
        $$ - b \pm \sqrt b^2 - 4ac \over 2a$$
        $n < 10^9$
    </p>
{% endblock %}